body{
    margin: 0;
    background: linear-gradient(to left bottom, lightblue, grey, darkblue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    color: darkblue;
}

.container{
    background: rgba(255,255,255,.4);
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,.5);
    border-radius: 4px;
    width: 80%;
    max-width: 500px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    font-size: 35px;
}

.temp-container{
    width: 100%;
    padding: 15px;
    font-weight: 550;
    font-size: 20px;
}

.input{
    width: 150px;
    font-family: monospace;
    padding: 9px;
    float: right;
    outline: none;
    background: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.3);
    color: darkblue;
    font-size: 20px;
}